extends layout
block content
	p Здесь вы можете посмотреть, купить или заказать душевные вещи для себя и подарки для близких и дорогих людей - особенные, индивидуальные, вызывающие самые теплые чувства.
	p Всё в единичном экземпляре. Эксклюзивный, авторский дизайн с учётом всех ваших пожеланий. Архивное качество.
	p Изготавливаю:
		ul
			li - открытки по любому поводу;
			li - блокноты "с нуля" в книжном переплете и на кольцах;
			li - конверты и коробочки для денег;
			li  - альбомы для фотографий на различную тематику;
			li - свадебные пригласительные, бонбоньерки, сундуки для денег, книги пожеланий, рассадочные карточки;
			li - рамки для фото мягкие и твердые;
			li - обложки для документов;
			li - ...
		p Если что-то не представлено в альбомах группы (пока еще!) - это не значит, что я это не делаю :) С непередаваемым удовольствием и плохо скрываемой |любовью возьмусь за ЛЮБЫЕ виды бумажного хендмейда.
		p Свои пожелания к оформлению вещи можно любым удобным для вас образом рассказать ("для мужчины, который любит рыбалку и вышивать крестиком", "сделайте что-нибудь с Муми-троллями", "хочу что-то такое ВАУУУ, чтобы маме понравилось; что можете предложить?") или предоставить в виде разного рода картинок и рисунков (с подписями "сделайте похожее", "сделайте в таком же стиле и с кучей бантиков", "желаемая цветовая гамма", "что угодно, только не такое"). 