extends layout
block content
	h2 Drag & Drop
	//section#dropbox Тащить сюда
	canvas.canvas(id='canvas', width=445, height=450)
	section#picturesbox
		img#img1(src='images/img1.jpg')
		img#img2(src='images/img2.jpg')
		img#img3(src='images/img3.jpg')